/*------------------------------------*\
    #BASE
\*------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
  transition: all 300ms ease-out;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;

  // Default type
  color: $brand-gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex: 1;
}


/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header {
  padding: 30px 16% 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  vertical-align: baseline;
  align-items: center;
}

.menu-icon {
  text-decoration: none;
  position: relative;
  font-size: 2em;
  color: $brand-gray;
}

.main-tickets {
  justify-content: flex-end;
  background: $brand-red;
  border: transparent solid 4px;
  padding: 1.1em 1.3em;
  text-decoration: none;
  text-align: center;

  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: background 150ms, border 150ms, color 150ms, transform 200ms ease;

  &:hover {
    border: $brand-red solid 4px;
    background: #fff;
    color: $brand-red;
    transform: scale(1.04);
  }

  &:active {
    transform: scale(0.98);
    transition: transform 80ms;
  }
}

/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

.landing {
  flex-direction: column;
  width: 100%;
}

.wrapper {
  padding: 100px 16% 0;
  justify-content: space-between;
}

.title {
  position: relative;
  font-size: 2em;
  flex: 1;
  padding: 0 5%;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
}

.title h1 {
  transform-origin: left center;
  position: absolute;
  left: 50%;
  font-weight: 800;
  transition: font-size 100ms ease-out;

  animation-delay: 200ms;
  animation-duration: 1200ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

.main-title {
  // Positioning of main title can be tweaked in this transform
  transform: rotate(90deg) translate3d(-2.7em, -0.5em, 0);
  animation-name: mainTitleFade;
}

.main-date {
  transform: rotate(90deg) translate3d(-4.3em, 0.6em, 0);
  animation-name: mainDateFade;
}

.main-date .accent {
  letter-spacing: -3px;
}

.avatar-glitch {
  background: url('/images/Toon_Link.png') no-repeat;
  background-size: contain;
  position: absolute;
  width: 80%;
  height: 100%;
  top: -70px;
  left: -80px;

  &::before {
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgba(255,255,255,0) 60%,rgba(255,255,255,1) 80%);
    height: 100%;
    width: 100%;
    right: 0;
  }
}

.accent {
  color: $brand-red;
}

.content {
  flex: 1;
  padding: 0 5%;
  align-items: center;
}

.logo-desktop, .logo-mobile {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.logo-mobile {
  display: none;
}

.arcade-stick {
  margin: 0 auto;
}

.details-location {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.5em;
  text-align: center;
  font-weight:   800;
  text-transform: uppercase;
}

.details {
  margin: 0 auto;
  display: flex;
  max-width: 270px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details-date, .details-length {
  margin: 0 8px;
  font-size: 1.2em;
  font-family: 'Open Sans Condensed', sans-serif;
}

footer {
  width: 100%;
  height: 2em;
  flex: 1;
}

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

@media (min-width: 721px) and (max-width: 1200px) {
  .wrapper {
    padding: 100px 5% 0;
  }

  .title {
    transform: translate3d(25%,0,0);
  }
}

@media (max-width: 720px) {

  body {
    flex-direction: column;
  }

  header {
    padding: 0;
  }

  .wrapper {
    padding: 30px 10px 0;
    flex-direction: column;
  }

  .main-tickets {
    width: 100%;
    padding: 0.8em 0;

    &:hover {
      transform: none;
    }

    &:active {
      transform: none;
    }
  }

  .main-title,
  .main-date {
    transform: initial;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .title h1 {
    position: static;
    font-size: 1.4em;
    margin: 0;
    animation: none;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    width: 50%;
    max-width: 220px;
    margin: 4em auto;
    display: block;
  }

  .avatar-glitch {
    display: none;
  }

  .details-location {
    margin-top: 1.5em;
  }
}

@media (max-width: 500px) {
  .title h1 {
    font-size: 9vw;
  }

  .logo-mobile {
    margin: 2em auto;
  }

  .details-location {
    margin-top: 1em;
  }
}
