/*------------------------------------*\
    #BASE
\*------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  // Default type
  color: $brand-gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex: 1;
}


/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header {
  padding: 50px 16% 0;
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  align-items: center;
}

.menu-icon {
  position: relative;
  font-size: 2em;
  color: $brand-gray;
}

.main-tickets {
  justify-content: flex-end;
  background: $brand-red;
  border: 0;
  padding: 1.1em 1.3em;

  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

.wrapper {
  padding: 100px 16% 0;
  justify-content: space-between;
}

.title {
  position: relative;
  font-size: 2em;
  width: 50%;
  padding: 0 5%;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
}

.title h1 {
  transform-origin: left center;
  position: absolute;
  left: 50%;
  font-weight: 900;
}

.main-title {
  // Positioning of main title can be tweaked in this transform
  transform: rotate(90deg) translate3d(-2.7em, -0.5em, 0);
}

.main-date {
  transform: rotate(90deg) translate3d(-4.3em, 0.5em, 0);
}

.avatar-glitch {
  position: absolute;
  visibility: hidden;
}

.accent {
  color: $brand-red;
}

.content {
  width: 50%;
  padding: 0 5%;
}
